<d-row [dJustify]="'center'" class="dl-my-4">
  <d-card class="card-container">
    <d-card-header>
      <d-card-title>上号</d-card-title>
      <d-card-subtitle><i class="icon-company-member card-icon"></i><span>你爸爸来了</span></d-card-subtitle>
    </d-card-header>
    <d-card-content>
      <d-row [dJustify]="'center'">
        <d-col>多可爱的小傻逼</d-col>
        <nav>
          <ul>
            <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
          </ul>
        </nav>
      </d-row>
    </d-card-content>
    <d-card-actions [align]="'end'">
      <d-button>Button</d-button>
    </d-card-actions>
  </d-card>
</d-row>


<d-row [dJustify]="'center'">
  <nav>
    <ul>
      <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
      <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
    </ul>
  </nav>
</d-row>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>router root</h1>
<router-outlet></router-outlet>

