
<d-row [dJustify]="'center'" class="dl-my-4">
  <d-card class="card-container">
    <d-card-header>
      <d-card-title>上号</d-card-title>
      <d-card-subtitle><i class="icon-company-member card-icon"></i><span>你爸爸来了</span></d-card-subtitle>
    </d-card-header>
    <d-card-content>
      <d-row [dJustify]="'center'">
        <d-col>多可爱的小傻逼</d-col>
      </d-row>
    </d-card-content>
    <d-card-actions [align]="'end'">
      <d-button>Button</d-button>
    </d-card-actions>
  </d-card>
</d-row>







<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>